<h1>Create An Account</h1>

<%= form_for @user do |f| %>

    <% if @user.errors.any? %>
        <div class="alert alert-danger">
          <h2>
            <%= pluralize(@user.errors.count, "error") %>
            Prohibited this User from being created.
          </h2>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li> <%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row">

      <div class="input-field col s6">
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: 'Enter your name...', class: 'validate' %>
      </div>

      <div class="input-field col s6">
        <%= f.label :email %>
        <%= f.text_field :email, class: 'validate' %>
      </div>

      <div class="input-field col s6">
        <%= f.label :password %>
        <%= f.password_field :password, placeholder: 'please enter your password...', class: 'validate' %>
      </div>

      <div class="input-field col s6">
        <%= f.submit 'Create Account', class: 'btn btn-secondary ' %>
      </div>

    </div>
<% end %>