<div class="row">
  <div class="col s12">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">My Profile</span>

        <p>Username : <strong><%= @user.name %></strong></p>
      </div>
      <div class="card-action">
        <h5> &#8594; Friends</h5>

        <div class="container">
          <% @user.friendships.each do |friendship| %>
              <li class="white-text"><%= friendship.friend.name %> &nbsp
                &nbsp <%= link_to 'REMOVE', friendship, :method => :delete %></li>
          <% end %>
        </div>
        <br>
        <%= link_to 'Find Friends', users_path, :class => "waves-effect waves-light btn" %>

        <h5> &#8594; Friends by users</h5>

        <div class="container">
          <ul>
            <% @user.inverse_friends.each do |inverse_friends| %>
                <li class="white-text"><%= inverse_friends.name %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>