<!DOCTYPE html>
<html>
<head>
  <title>Lolchat</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <%= render 'layouts/nav_bar' %>
  <%= render partial: 'shared/flash_messages', flash: flash %>
  <%= yield %>
</div>
</body>
</html>
